:root {
    --dark-color: #2a2a30;
}

html, body, #app {
    height: 100%;
    background-color: #2a2a30;
}

.start-new-game-buttons {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 1.5rem;
    margin: 1.5rem 0;
}

.start-new-game-buttons button:nth-of-type(2) {
    margin-left: 1rem;
}

.start-new-game-button {
    margin: 0.5rem 1rem;
}

.field-with-button {
    display: flex;
    align-items: center;
}

.field-with-button > button {
    margin-left: 3rem;
}

.player-cards {
    width: 30%;
}

.player-card {
    width: 100%;
    position: relative;
    align-self: baseline;
    border-top: 1px solid var(--dark-color);
}

.player-card .mud-card-header {
    flex: auto;
    margin-left: 4rem;
}

.player-card-player-active .mud-card-header {
    color: var(--mud-palette-primary);
}

.player-card-header-content {
    display: flex;
}

.player-card-player-active-icon {
    position: absolute;
    left: 2rem;
    width: 26px;
    height: 26px;
    top: 1.2rem;
}


.dart-points-row {
    width: 100%;
    display: flex;
}

.dart-points-row:nth-child(odd) {
    border-bottom: 1px solid var(--dark-color);
}

.current-throwing-round-score {
    display: flex;
    margin-top: 2rem;
    font-size: 1.04rem;
    font-weight: 600;
}

.current-throwing-round-score-item-current-score .mud-paper {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1rem;
    width: 11rem;
}

.current-throwing-round-score-item-clear-score .mud-paper {
    border-radius: 0;
    width: 4rem;
    justify-content: center;
}

.current-throwing-round-score-item-register-score .mud-paper {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 4rem;
    justify-content: center;
}

.current-throwing-round-score-item-clear-score:hover .mud-paper, 
.current-throwing-round-score-item-register-score:hover .mud-paper {
    color: var(--mud-palette-primary);
    font-weight: 600;
    background-color: var(--dark-color);
    cursor: pointer;
}

.dart-point-box {
    flex: 1 0 4.76%;
}

.dart-point {
    text-align: center;
}

.dart-point:nth-child(odd) {
    border-left: 1px solid var(--dark-color);
}

.dart-point:nth-child(even) {
    border-right: 1px solid var(--dark-color);
}

.dart-point:hover {
    color: var(--mud-palette-primary);
    font-weight: 600;
    background-color: var(--dark-color);
}

.dart-point:hover {
    cursor: pointer;
}

.add-dart-points {
    padding-bottom: 10.5px;
}

.board {
    width: 100%;
    display: flex;
    justify-content: center;
}

.board svg {
    height: 620px;
    width: 620px;
}

#dartboard #areas g path:hover,
#dartboard #areas g circle:hover {
    cursor: pointer;
    opacity: 0.6;
}

#dartboard #areas g path.dartboard-area-black:hover {
    fill: #494949;
}

#dartboard #scores {
    fill: var(--mud-palette-text-primary);
}

/* Overrides */
.mud-paper {
    display: flex;
}

.mud-card-actions {
    align-self: start;
}

.mud-main-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0 !important;
}